body{
    height: 100%;
    margin: 5%px;
}

header{
    width: 100%;
    font-size: 200%;
    background-color: aqua;
    text-align: center;
    padding: 40px 0;
    border-radius: 15px;
}

#sidebar{
    width: 30%;
    height: 500px;
    border: 2px solid black;
    float: left;
    background-color: bisque;
    margin-top: 10px;
    box-shadow: 5px 10px #888888;
    border-radius: 15px;
}

#weather-data {
    display: flex;
    width: 65%;
    height: 500px;
    border: 2px solid black;
    float: right;
    margin-top: 10px;
    box-shadow: 5px 10px #888888;
    border-radius: 15px;
    flex-direction: column;
}

#current-weather{
     float: left;
     width: 80%;
     border: 2px solid black;
     height: 40%;
     margin: 0 auto;
     margin-top: 10px;
     padding-top: 10px;
}

#future-weather{
    width: 80%;
    border: 2px solid black;
    height: 40%;
    margin: 0 auto;
    margin-top: 10px;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
}

.weather-tile {
    width: 15%;
    text-align: center;
    border: 2px solid grey;
    margin: 10px;
    margin-left: 20px;
}
